@import url('../../App.css');

.itemTodo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 25px;
	border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
	background: var(--Very-Dark-Desaturated-Blue);
	list-style: none;
}

.todoText {
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	color: var(--Light-Grayish-Blue);
}

.circulo:hover {
	background: var(--Check-Background);
}

.checkIcon {
	display: none;
}

.crossIcon {
	cursor: pointer;
	display: none;
	margin-left: auto;
}

.itemTodo:hover > .circulo > .checkIcon {
	display: block;
}

.itemTodo:hover > .crossIcon {
	display: block;
}

.itemTodo:hover > .circulo {
	background: var(--Check-Background);
}

.crossIcon:hover {
	filter: brightness(2);
}
