@import url('../../App.css');

.createTodo {
	display: flex;
	padding: 20px 25px;
	margin-bottom: 25px;
	border-radius: 5px;
	background: var(--Very-Dark-Desaturated-Blue);
}

.circulo {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	margin-right: 25px;
	border: 1px solid var(--Very-Dark-Grayish-Blue);
	border-radius: 50%;
}

.input {
	width: 100%;
	border: none;
	outline: none;
	background: transparent;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: var(--Light-Grayish-Blue);
}

.input::placeholder {
	color: var(--Dark-Grayish-Blue);
}

/* Media quieries */
@media screen and (max-width: 1000px) {
	.createTodo {
		padding: 15px 20px;
		margin-bottom: 15px;
	}

	.circulo {
		width: 22px;
		height: 22px;
		margin-right: 12px;
	}

	.input {
		font-size: 13px;
	}
}
