:root {
	/* Primay */
	--Bright-Blue: hsl(220, 98%, 61%);
	--Check-Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

	/* Light Theme */

	/* Dark theme */
	--Very-Dark-Blue: hsl(235, 21%, 11%);
	--Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
	--Light-Grayish-Blue: hsl(234, 39%, 85%);
	--Light-Grayish-Blue: hsl(236, 33%, 92%); /*hover*/
	--Dark-Grayish-Blue: hsl(234, 11%, 52%);
	--Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
	--Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: var(--Very-Dark-Blue);
	background-repeat: no-repeat;
}

.img-background {
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.main {
	outline: 1px solid white;
	min-width: 540px;
	margin-bottom: 50px;
}

.drag-and-drop {
	text-align: center;
	font-weight: 400;
	color: var(--Dark-Grayish-Blue);
}
